[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
}

.icon-ai:before {
  content: "\e902";
}
.icon-ps:before {
  content: "\e903";
}
.icon-vs-code:before {
  content: "\e904";
}
.icon-html5:before {
  content: "\e905";
}
.icon-css3:before {
  content: "\e906";
}
.icon-js:before {
  content: "\e907";
}
.icon-ts:before {
  content: "\e908";
}
.icon-vue:before {
  content: "\e909";
}
.icon-react:before {
  content: "\e90a";
}
.icon-nextjs:before {
  content: "\e90b";
}
.icon-jquery:before {
  content: "\e90c";
}
.icon-sass:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-github:before {
  content: "\eab0";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-contrast:before {
  content: "\e901";
}