@keyframes fade-ltr {
  from {
    opacity: 0;
    transform: translateX(-5vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-rtl {
  from {
    opacity: 0;
    transform: translateX(5vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sub-menu-show {
  0% {
    top: calc(100% + 10px);
    opacity: 0;
  }
  100% {
    top: calc(100%);
    opacity: 1;
  }
}
