*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  color: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-size: 62.5%;
  text-size-adjust: none;
}
body {
  font-size: 1.6rem;
  //line-height: 100%;
}
:where(body, button, figure) {
  margin: 0;
  padding: 0;
}
:where(h1, h2, h3, h4, h5, h6) {
  //line-height: 100%;
}
ul {
  padding-left: 1em;
  list-style-position: inside;
  list-style-type: '» ';
}
:where(a, button, label, input[type='checkbox']) {
  cursor: pointer;
  line-height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  border: 0;
}
small {
  font-size: 80%;
}
